{% extends "base.html" %}
{% load static %}
{% block body%}


<main id="main-doc">

  <section class="main-section" id="Title">
    <header class="heading">Title</header>
	<div class="main-body">
	{{ Data.project_Title }}
	</div>
  </section>

  <section class="main-section" id="Abstract">
    <header class="heading">Abstract</header>
	<div class="main-body">
	{{ Data.project_Abstract }}
	</div>
  </section>

  <section class="main-section" id="Domain">
    <header class="heading">Domain</header>
	<div class="main-body">
	{{ Data.project_Domain }}
	</div>
  </section>

  <section class="main-section" id="Class">
    <header class="heading">Class</header>
	<div class="main-body">
	{{ Data.project_Class }} {{ Data.project_Year }}
	</div>
  </section>

  <section class="main-section" id="Mentor">
    <header class="heading">Mentor</header>
	<div class="main-body">
	{{ Data.project_Mentor }}
	</div>
  </section>
    
  <section class="main-section" id="Members">
    <header class="heading">Members</header>
	<div class="main-body">
	{{ Data.project_Members }}
	</div>
  </section>

  <section class="main-section" id="Publication">
    <header class="heading">Publication</header>
	<div class="main-body">
	<a href="{{ Data.project_Publication }}">Publication</a>
	</div>
  </section>

  <section class="main-section" id="Video">
    <header class="heading">Video</header>
	<div class="main-body">
	<a href="{{ Data.project_Video }}">Video</a>
	</div>
  </section>
</main>
{% endblock %}

		
		
		
		
		
		
		