{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %}Pradarshini Projects{% endblock %}
{% block body %}

<header class="masthead clear">
    <div class="centered">
        <div class="site-branding">
            <h1 class="site-title">Flexbox Demo: Card Layouts</h1>
            <p>Text from <a title="Office Ipsum" href="http://officeipsum.com/index.php">Office Ipsum</a> </p>
        </div>
    </div>
</header>

<div class="form">
    <form action="/projects/" method="post">
        {% csrf_token %}
        {{ form }}
        <input type="submit" value="Submit">
    </form>
</div>

<main class="main-area">
    <div class="centered">
        <section class="cards">
        {% for response in Data%}
            <div class="card">
                <a href="{% url 'project_details' response.id %}">
                    <div class="card-content">
                        <h2>{{ response.project_Title }}</h2>
                        <strong><p>{{response.project_Domain }}</p></strong>
                        <strong><p>{{response.project_Class}} {{response.project_Year}}</p></strong>
                        <strong><p>Mentor: {{response.project_Mentor }}</p></strong>
                    </div>
                </a>
            </div>
        {% endfor %}
{% endblock %}



