/* h2 {
    text-align: center;
    padding: 20px 0;
  }
  
  .table-bordered {
    border: 1px solid #ddd !important;
  }
  
  table caption {
      padding: .5em 0;
  }
  
  @media screen and (max-width: 767px) {
    table caption {
      display: none;
    }
  }
  
  .p {
    text-align: center;
    padding-top: 140px;
    font-size: 14px;
  } */
  body {
    font-family: "Roboto", sans-serif;
    background: #f0f5f9;
  }
  
  .card {
    position: relative;
    margin: 150px auto;
    width: 450px;
    padding: 20px;
    box-shadow: 3px 10px 20px rgba(0, 0, 0, 0.2);
    border-radius: 3px;
    border: 0;
  }
  .card .circle {
    border-radius: 3px;
    width: 150px;
    height: 150px;
    background: black;
    position: absolute;
    right: 0px;
    top: 0;
    background-image: linear-gradient(to top, #fbc2eb 0%, #a6c1ee 100%);
    border-bottom-left-radius: 170px;
  }
  .card .content {
    margin-top: 25px;
    display: flex;
    flex-direction: column;
  }
  .card h1 {
    font-size: 34px;
    font-weight: bold;
    margin-bottom: 0;
  }
  .card h2 {
    font-size: 18px;
    letter-spacing: 0.5px;
    font-weight: 300;
  }
  .card .social {
    margin-bottom: 5px;
  }
  .card .social a {
    text-decoration: none !important;
    color: black;
    margin-left: 8px;
    font-weight: 300;
  }
  .card .social a i {
    font-weight: 400;
  }
  .card .location {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .card .location i {
    color: red;
  }
  .card .location p {
    font-weight: 300;
  }